*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

#navlist{
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;

}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;

}
.navcontainer{
    width: 100vw;
    background-color:rgba(113, 113, 212, 0.799);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#navlogo{
    font-size: 2.8rem;
}
